
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<p>Started my desire to code for the home PC, it amazed my what a little DOS could do. Decades later after discovering Grand Circus I nade the decision to pursue my curiosity and see what I can create. You can reach me at jasonrizzo02@aol.com</p>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - Bonus9 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
